@model Climb.ViewModels.Seasons.SeasonParticipantViewModel

<link rel="stylesheet" href="~/dist/styles/league/leagueuser.css" />

<div class="d-flex justify-content-start">
    <div class="rank-text mr-3 d-flex align-items-center">@Model.Participant.Standing</div>
    <div class="seasonparticipant-container d-flex justify-content-between align-items-center flex-grow-1 filterable" data-filter-keys="@Model.Participant.LeagueUser.DisplayName">
        <div class="d-flex align-items-center flex-grow-1">
            <img src="@Model.ProfilePic" width="64" height="64"/>
            <div>
                <strong class="p-1 w-50 align-items-center"><a asp-controller="User" asp-action="Home" asp-route-userid="@Model.Participant.UserID">@Model.Participant.LeagueUser.DisplayName</a></strong>
                <div class="d-flex">
                    @foreach (var character in Model.Characters)
                    {
                        <img src="@character" width="20" height="20"/>
                    }
                    @for (int i = 0; i < Model.EmptyCharacterCount; i++)
                    {
                        <div style="width: 20px; height: 20px;"></div>
                    }
                </div>
            </div>
            <div class="points-text-small">(@Model.Participant.Points)</div>
            <div class="rank-text-small">@Model.Participant.Standing</div>
        </div>
        <div class="points-text-small mr-3">
            @($"{Model.Participant.Points}")
        </div>
        <a class="m-1 align-self-start" role="button" asp-action="Details" asp-route-participantID="@Model.Participant.ID"><i class="fas fa-info-circle"></i></a>
    </div>
</div>
