@model Climb.ViewModels.Tournaments.HomeViewModel

@{
    Layout = "_TournamentsLayout";
}

@section TournamentsBody
{
    <div>
        <h1>Tournament @Model.Name</h1>
        <div>
            <h3>Competitors</h3>
            <ol>
                @foreach(var competitor in Model.Competitors)
                {
                    <li>@competitor.LeagueUser.DisplayName</li>
                }
            </ol>
        </div>

        <div id="bracket-scroll">
            <div id="bracket-container">
                <div class="bracket">
                    <div class="d-flex">
                        @foreach(var round in Model.Winners)
                        {
                            <partial name="./Partials/Round.cshtml" model="@round"/>
                        }

                        @foreach(var round in Model.GrandFinals)
                        {
                            <partial name="./Partials/Round.cshtml" model="@round"/>
                        }
                    </div>
                </div>

                <div class="bracket">
                    <div class="d-flex">
                        @foreach(var round in Model.Losers)
                        {
                            <partial name="./Partials/Round.cshtml" model="@round"/>
                        }
                    </div>
                </div>
            </div>
        </div>


    </div>
}

@section Scripts
{
    <script src="~/lib/jsplumb.js" type="text/javascript"></script>
    <link rel="stylesheet" href="~/dist/styles/tournament.css"/>

    <script type="text/javascript">
        window.onload = () => {
            jsPlumb.setContainer("bracket-container");

            $('#bracket-container').scroll(
                function() {
                    jsPlumb.repaintEverything();
                }
            );

            $(".game").each(function() {
                if ($(this).hasClass("hidden")) return;

                const id = $(this).attr("id");
                const parentId = $(this).attr("data-parent");

                jsPlumb.connect({
                    source: id,
                    target: `game-${parentId}`,
                    anchors: ["Right", "Left"],
                    connector: ["Flowchart", { alwaysRespectStubs: true }],
                    endpoint: ["Blank", {}]
                });
            });

            $(".player").hover(function() {
                    const playerId = $(this).attr("data-player-id");
                    $(`[data-player-id="${playerId}"]`).css("background-color", "#555555");

                },
                function() {
                    const playerId = $(this).attr("data-player-id");
                    $(`[data-player-id="${playerId}"]`).css("background-color", "#999999");
                });
        }
    </script>
}