@using Climb.Extensions
@using Climb.ViewModels.Seasons
@model PageViewModel

@{
    Layout = "_LayoutWithNavbar";
    ViewBag.Title = $"{Model.Season.League.Name} Season {Model.SeasonNumber.ToRoman()} {ViewBag.Page}";
}

<div class="container">
    <div id="home-header" class="d-flex flex-column justify-content-center mt-4">
        <h1>@Model.Season.League.Name Season @Model.SeasonNumber.ToRoman()</h1>
        @if(Model.CanJoin)
        {
            <form asp-action="JoinPost" asp-route-userid="@Model.User.Id" asp-route-seasonID="@Model.Season.ID">
                <button class="btn btn-danger">Join</button>
            </form>
        }
    </div>

    <div class="home-menu d-flex justify-content-between">
        <a class="@(Model.SubPageNavbarClass<HomeViewModel>())" asp-action="Home" asp-route-seasonID="@Model.Season.ID">Home</a>
        @if(Model.IsParticipant)
        {
            <a class="@(Model.SubPageNavbarClass<MembershipViewModel>())" asp-action="Membership" asp-route-seasonID="@Model.Season.ID">Membership</a>
        }
        <a class="@(Model.SubPageNavbarClass<DataViewModel>())" asp-action="Data" asp-route-seasonID="@Model.Season.ID">Data</a>
        <a class="@(Model.SubPageNavbarClass<SetsViewModel>())" asp-action="Sets" asp-route-seasonID="@Model.Season.ID">Sets</a>
        @if(Model.CanManage)
        {
            <a class="@(Model.SubPageNavbarClass<ManageViewModel>())" asp-action="Manage" asp-route-seasonID="@Model.Season.ID">Manage</a>
        }
    </div>

    @RenderSection("SeasonsBody")
</div>

@section scripts
{
    @RenderSection("Scripts", false)
}