@using Climb.ViewModels.Seasons
@model Climb.ViewModels.Seasons.PageViewModel

@{
    Layout = "_LayoutWithNavbar";
}

<div class="container">
    <div id="home-header" class="d-flex flex-column justify-content-center mt-4">
        <h1>@Model.Season.League.Name Season @Model.SeasonNumber</h1>
    </div>

    <div class="list-group list-group-horizontal">
        <a class="list-group-item list-group-item-action @(Model.IsSubPageActive<HomeViewModel>() ? "active" : "")" asp-action="Home" asp-route-leaugeID="@Model.Season.ID">Home</a>
        <a class="list-group-item list-group-item-action @(Model.IsSubPageActive<MembershipViewModel>() ? "active" : "")" asp-action="Membership" asp-route-leaugeID="@Model.Season.ID">Membership</a>
        <a class="list-group-item list-group-item-action @(Model.IsSubPageActive<DataViewModel>() ? "active" : "")" asp-action="Data" asp-route-leaugeID="@Model.Season.ID">Data</a>
        <a class="list-group-item list-group-item-action @(Model.IsSubPageActive<SetsViewModel>() ? "active" : "")" asp-action="Sets" asp-route-leaugeID="@Model.Season.ID">Sets</a>
        @if(Model.CanManage)
        {
            <a class="list-group-item list-group-item-action @(Model.IsSubPageActive<ManageViewModel>() ? "active" : "")" asp-action="Manage" asp-route-leaugeID="@Model.Season.ID">Manage</a>
        }
    </div>

    @RenderSection("SeasonsBody")
</div>

@section scripts
{
    <script type="module" src="~/dist/scripts/Seasons-Home.js"></script>
}