@using Climb.Services
@model Climb.ViewModels.Seasons.DataViewModel
@inject ICdnService cdnService

@{
    ViewBag.Title = "Leagues-Home";
}

<div class="container">
    <div id="home-header" class="d-flex flex-column justify-content-center mt-4">
        <h1>@Model.Season.League.Name Season @Model.SeasonNumber</h1>
    </div>

    <div class="home-menu d-flex justify-content-between">
        <a asp-action="Home" asp-route-leaugeID="@Model.Season.ID">Home</a>
        <a asp-action="Membership" asp-route-leagueID="@Model.Season.ID">Membership</a>
        <a asp-action="Data" asp-route-leagueID="@Model.Season.ID">Data</a>
        <a asp-action="Sets" asp-route-leagueID="@Model.Season.ID">Sets</a>
        <a asp-action="Manage" asp-route-leagueID="">Manage</a>
    </div>

    <div class="d-flex flex-column justify-content-center align-items-center body-temp">
        <div>
            <span>Completed Sets</span>
            <span>@Model.CompletedSets</span>
        </div>
        <div>
            <span>Overdue Sets</span>
            <span>@Model.OverdueSets</span>
        </div>
        <div>
            <span>Remaining Sets</span>
            <span>@Model.RemainingSets</span>
        </div>
        <div>
            <span>Completed Percent</span>
            <span>@Model.CompletePercent.ToString("P0")</span>
        </div>
        <div>
            <span>Target Percent</span>
            <span>@Model.TargetPercent.ToString("P0")</span>
        </div>
    </div>
</div>