@using Climb.Extensions
@using Climb.Services
@model Climb.ViewModels.Seasons.DetailsViewModel
@inject ICdnService cdnService

@{
    ViewBag.Page = "Details";
    Layout = "_SeasonsLayout";
}

@section SeasonsBody
{
    <h2 class="my-4">Season @Model.Season.Index.ToRoman() History</h2>
    <h4 class="my-4">@Model.DetailsParticipant.LeagueUser.DisplayName</h4>

    <table class="table">
        <tr>
            <th>Standing</th>
            <td>@Model.DetailsParticipant.Standing</td>
        </tr>
        <tr>
            <th>Points</th>
            <td>@Model.DetailsParticipant.Points</td>
        </tr>
        <tr>
            <th>Tie Breaker Points</th>
            <td>@Model.DetailsParticipant.Standing</td>
        </tr>
    </table>

    <table class="table">
        <thead>
        <tr>
            <th scope="col">Date</th>
            <th scope="col">Opponent</th>
            <th scope="col">Rank</th>
            <th scope="col">Points</th>
        </tr>
        </thead>
        <tbody>
        @foreach(var set in Model.Sets)
        {
            <tr>
                <td>@set.Date.ToShortDateString()</td>
                <td>
                    <a asp-action="Details" asp-route-participantID="@set.OpponentID">@set.OpponentName</a>
                </td>
                <td>@set.OpponentRank</td>
                <td>+@set.Points</td>
            </tr>
        }
        </tbody>
    </table>
}