@using Climb.Extensions
@using Climb.Services
@model Climb.ViewModels.Seasons.DetailsViewModel
@inject ICdnService cdnService

@{
    ViewBag.Page = "Details";
    Layout = "_SeasonsLayout";
}

@section SeasonsBody
{
    <h2 class="my-4">Season @Model.Season.Index.ToRoman() History</h2>

    <div class="d-flex w-100">
        <div class="d-flex flex-column w-50 align-items-end">
            <img src="@Model.ProfilePic" height="100" width="100"/>
            <h5 class="mb-4"><partial name="~/Views/User/Partials/LeagueUserLink.cshtml" model="@Model.DetailsParticipant.LeagueUser"/></h5>
        </div>
        <div class="d-flex flex-column w-50 align-items-start">
            <div class="d-flex w-100">
                <b class="w-25 text-left">Standing</b>
                <div class="text-right">@Model.DetailsParticipant.Standing</div>
            </div>
            <div class="d-flex w-100">
                <b class="w-25 text-left">Points</b>
                <div class="text-right">@Model.DetailsParticipant.Points</div>
            </div>
            <div class="d-flex w-100">
                <b class="w-25 text-left">Tie Breaker</b>
                <div class="text-right">@Model.DetailsParticipant.TieBreakerPoints</div>
            </div>
            <div class="d-flex w-100">
                <b class="w-25 text-left">Sets Played</b>
                <div class="text-right">@Model.Sets.Count</div>
            </div>
            <div class="d-flex w-100">
                <b class="w-25 text-left">Sets Remaining</b>
                <div class="text-right">@Model.RemainingSets</div>
            </div>
        </div>
    </div>

    <table class="table">
        <thead>
        <tr>
            <th scope="col">Date</th>
            <th scope="col">Opponent</th>
            <th scope="col">Rank</th>
            <th scope="col">Outcome</th>
            <th scope="col">Points</th>
        </tr>
        </thead>
        <tbody>
        @foreach(var set in Model.Sets)
        {
            <tr>
                <td>@set.Date.ToShortDateString()</td>
                <td>
                    <a asp-action="Details" asp-route-participantID="@set.OpponentID">@set.OpponentName</a>
                </td>
                <td>@set.OpponentRank</td>
                <td>@(set.Won ? "Won" : "Lost")</td>
                <td>+@set.Points</td>
            </tr>
        }
        </tbody>
    </table>
}