@using Climb.Services
@model Climb.ViewModels.Seasons.ManageViewModel
@inject ICdnService cdnService

@{
    ViewBag.Title = "Seasons-Manage";
}

<div class="container">
    <div id="home-header" class="d-flex flex-column justify-content-center mt-4">
        <h1>@Model.Season.League.Name Season @Model.SeasonNumber</h1>
    </div>

    <div class="home-menu d-flex justify-content-between">
        <a asp-action="Home" asp-route-leaugeID="@Model.Season.ID">Home</a>
        <a asp-action="Membership" asp-route-leagueID="@Model.Season.ID">Membership</a>
        <a asp-action="Data" asp-route-leagueID="@Model.Season.ID">Data</a>
        <a asp-action="Sets" asp-route-leagueID="@Model.Season.ID">Sets</a>
        <a asp-action="Manage" asp-route-leagueID="">Manage</a>
    </div>

    @if(Model.CanStartSeason)
    {
        <form asp-controller="Season" asp-action="Start">
            <input type="hidden" name="SeasonID" value="@Model.Season.ID"/>
            <button class="btn btn-primary">Start Season</button>
        </form>
    }

    <div class="d-flex justify-content-center align-items-center body-temp">
        <p>Manage</p>
    </div>
</div>