@model Climb.ViewModels.Sets.DetailsViewModel

<div class="set-container pb-2">
    <small class="set-details">@Model.Set.League.Name - @Model.SetType - @Model.Set.DueDate.ToShortDateString()</small>
    <div class="d-flex justify-content-between align-items-center p-2">
        <div class="d-flex flex-column align-items-start w-40">
            <img src="@Model.P1ProfilePic" width="64" height="64"/>
            <span>
                <small>
                    <partial name="~/Views/User/Partials/LeagueUserLink.cshtml" model="@Model.Set.Player1"/>
                </small>
            </span>
        </div>
        <strong class="set-vs">
            <em>vs</em>
        </strong>
        <div class="d-flex flex-column align-items-end w-40">
            <img src="@Model.P2ProfilePic" width="64" height="64"/>
            <span>
                <small>
                    <partial name="~/Views/User/Partials/LeagueUserLink.cshtml" model="@Model.Set.Player2"/>
                </small>
            </span>
        </div>
    </div>
    <a class="btn btn-fight btn-sm w-25 m-auto" asp-controller="Set" asp-action="Fight" asp-route-setID="@Model.Set.ID">
        <strong>Fight</strong>
    </a>
</div>