@model Climb.ViewModels.Leagues.LeagueUserViewModel

<link rel="stylesheet" href="~/dist/styles/league/leagueuser.css" />

<div class="seasonparticipant-container d-flex">
    <img class="profile-pic" src="@Model.Picture" width="64" height="64" />
    <div class="d-flex flex-column flex-grow-1 justify-content-center text-center">
        <b class="name p-1">
            <a href="@Model.TitleLink">@Model.Title</a>
        </b>
        <div class="d-flex flex-grow-1 justify-content-around align-content-center">
            <div>
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSIheOblDEWlXztqPWQXd6cp7h3MShCVCreDPnfjasqzqCm4cz1nQ" width="20" height="20" />
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSIheOblDEWlXztqPWQXd6cp7h3MShCVCreDPnfjasqzqCm4cz1nQ" width="20" height="20" />
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSIheOblDEWlXztqPWQXd6cp7h3MShCVCreDPnfjasqzqCm4cz1nQ" width="20" height="20" />
            </div>
            <div class="points-text-small">( @Model.LeagueUser.Points )</div>
            <div>
                <img src="https://cdn4.iconfinder.com/data/icons/defaulticon/icons/png/256x256/arrow-alt-up.png" width="20" height="20" style="opacity: 0.5;" />
            </div>
            <div class="rank-text-small">@Model.LeagueUser.Rank</div>
        </div>
    </div>
</div>