@using Climb.Extensions
@model Climb.ViewModels.Leagues.LeagueUserViewModel

<div class="seasonparticipant-container d-flex filterable" data-filter-keys="@Html.FilterKeys(Model.LeagueUser.DisplayName, Model.LeagueUser.League.Name)">
    <img class="profile-pic" src="@Model.Picture" width="64" height="64" />
    <div class="d-flex flex-column flex-grow-1 justify-content-center text-center">
        <b class="name p-1"><a href="@Model.TitleLink">@Model.Title</a></b>
        <div class="d-flex flex-grow-1 justify-content-around align-items-center">
            <div class="d-flex">
                @foreach(var character in Model.Characters)
                {
                    <img src="@character" width="20" height="20"/>
                }
                @for (int i = 0; i < Model.EmptyCharacterCount; i++)
                {
                    <div style="width: 20px; height: 20px;"></div>
                }
            </div>
            <div class="points-text-small">( @Model.LeagueUser.Points )</div>
            <div>
                
                <i class="fas @Model.RankTrendClass rank-trend"></i>
            </div>
            <div class="rank-text-small text-center"><span class="hidden">@Model.RankWhiteSpace</span>@Model.LeagueUser.Rank</div>
        </div>
    </div>
</div>