@model Climb.ViewModels.Tournaments.GamePlayerViewModel

<div class="d-flex @(Model.PlayerID != null ? "player" : "")" data-player-id="@Model.PlayerID">
    <div class="game-player-seed">@(Model.PlayerSeed)</div>
    <div class="game-player-name @(Model.PlayerID == null ? "small" : "")">@(Model.PlayerID == null ? $"from game {Model.PreviousGameID}" : $"Player {(char)(65 + Model.PlayerID)}")</div>
    <div class="game-player-score @(Model.IsWinner ? "game-score-win" : "")">@Model.Score</div>
</div>