@using Climb.Extensions
@model Climb.ViewModels.Games.CharacterAddViewModel

@{
    ViewBag.Title = "Character-Add";
}

<link rel="stylesheet" href="~/dist/styles/game/game-home.css" />

<div class="container mt-4">
    <form class="form" asp-action="CharacterAddPost" enctype="multipart/form-data">
        <h1>@Model.Game.Name</h1>
        <h3>@Model.ActionName Character</h3>
        <input asp-for="Request.GameID" value="@Model.Game.ID"/>
        <input asp-for="Request.CharacterID" value="@Model.Character?.ID"/>
        <!--Name-->
        <div class="form-group row mt-4">
            <label class="col-md-3 col-form-label text-left">Name</label>
            <input type="text" asp-for="Request.Name" class="form-control col-md-9" value="@Model.Character?.Name" autofocus/>
            <span class="text-danger" asp-validation-for="Request.Name"></span>
        </div>
        <!--Image-->
        <div class="form-group row mb-4">
            <div class="col-md-3 col-form-label text-left d-flex flex-column">
                <label class="col-form-label">Image</label>
                <small>Max size of @ClimbImageRules.CharacterPic.MaxSize.ToBytesReadable()</small>
            </div>
            <div class="col-md-9 d-flex flex-column p-0">
                <img class="mb-2 border" src="@Model.ImageUrl" width="100" height="100"/>
                <input asp-for="Request.Image" class="form-control-file" type="file" accept="image/*"/>
                <span class="text-danger" asp-validation-for="Request.Image"></span>
            </div>
        </div>
        <div class="d-flex flex-column align-items-center">
            <button class="btn btn-set btn-lg btn-edit btn-block my-4 mx-auto">@Model.ActionName</button>
            <a asp-action="Home" asp-route-gameID="@Model.Game.ID">Cancel</a>
        </div>
    </form>
</div>