@model Climb.ViewModels.Games.StageAddViewModel

@{
    ViewBag.Title = Model.Game.Name + " " + Model.ActionName + " Stage";
}

<link rel="stylesheet" href="~/dist/styles/game/game-home.css" />

<div class="container mt-4">
    <form class="form" asp-action="StageAddPost">
        <h1>@Model.Game.Name</h1>
        <h3>@Model.ActionName Stage</h3>
        <!--ID-->
        <input asp-for="Request.GameID" value="@Model.Game.ID"/>
        <input asp-for="Request.StageID" value="@Model.Stage?.ID"/>
        <!--Name-->
        <div class="form-group row mt-4">
            <label class="col-md-3 col-form-label text-left">Name</label>
            <input asp-for="Request.Name" class="form-control col-md-9" value="@Model.Stage?.Name" />
        </div>
        <div class="d-flex flex-column align-items-center mt-4">
            <button class="btn btn-cstm-primary my-4 mx-auto">@Model.ActionName</button>
            <a asp-action="Home" asp-route-gameID="@Model.Game.ID">Cancel</a>
        </div>
    </form>
</div>